header{
    text-align: left;
    padding-left: 20px;     
    background-color: rgb(108, 108, 113);
    padding: 25px;
    margin-top: 0;
    width: 100%;
}
.nav{
display: flex;
}

li{
    list-style-type:none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(3, 144, 226);
    width: 100px;
    margin: 15px;
    text-decoration: none;
}
.para{
    min-height: 450px;
    width: 75%;
}
footer{
    margin-bottom: 0;
    padding-bottom:20px ;
    padding-top:20px ;
    text-align: left;
    vertical-align: bottom;
    background-color: rgb(108, 108, 113);
    width:100%;
}